@font-face{
  font-family: defont;
  src: url('font/defont.woff2') format('woff2');
  font-display: swap;
}
body{
  background-image:
    radial-gradient(#ccc 1px, transparent 1px);
    /*
    linear-gradient(90deg, #ccc 1px, transparent 1px),
    linear-gradient(0deg, #ccc 1px, transparent 1px);
    */
  background-size: 20px 20px;
  font-family: defont;
}

/*header*/
header p{
  font-size: 5vw;
  text-align: center;
}

/*main*/
main {
  margin: 0 auto;
  background-color: #aaaaaa;
  width: 90%;
  border-radius: 10px;
}
