@font-face{
  font-family: defont;
  src: url('font/defont.woff2') format('woff2');
  font-display: swap;
}
body{
  background-image:
    radial-gradient(#ccc 1px, transparent 1px);
    /*
    linear-gradient(90deg, #ccc 1px, transparent 1px),
    linear-gradient(0deg, #ccc 1px, transparent 1px);
    */
  background-size: 20px 20px;
  font-family: defont;
  margin: 0;
  padding: 0;
}
/*header*/
header p{
  font-size: 5vw;
  text-align: center;
}
/*main*/
main {
  margin: 0 auto;
  background-color: #eeeeee;
  opacity: 0.6;
  width: 90%;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px #aaaaaa;
}
main h2{
  /*text-align: center;*/
  margin: auto 10px;
}
main p{
  margin: auto 10px;
}
a{
  background-color: #113152;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
/*footer*/
footer{
  background-color: #111111;
  color: #eeeeee;
  width: 100%;
  height: auto;
  margin: 20px 0px;
  opacity: 0.6;
}
